%div{:style => "padding-left: 1em"}
  %img{:src => "http://s.hoggardwagner.com/images/378-1419818230-ed10521f9a985e893e88c056a924012ca55325af.jpg"}
  %br
  %br
    %p
      %em I know things and you're wrong
      , 2014
      %br
        Michelle Vaughan