- title @artist.name

.row
  .col-md-8
    - @works.each do |work|
      .col-md-3.col-xs-12
        .thumbnail
          = link_to(image_tag(work.images.first.file.url(:thumb, false), alt: alt_text(work)), work)
          .caption= work.title

  .col-md-4
    %h5.title= @artist.name
