.row
  - if exhibition
    = link_to(image_tag(image ? image.file.url(:large, false) : blank_image_url, alt: alt_text(@work)), exhibition_works_path(@exhibition, @next))
  - else
    = image_tag(image ? image.file.url(:large, false) : blank_image_url, alt: alt_text(@work))
  - unless image.blank? || image.caption.blank?
    %p=textilize_without_paragraph(image.caption)
  %br
  %br
