.row
  - if exhibition
    = link_to(large_image_tag(image, alt_text(@work)), exhibition_works_path(@exhibition, @next))
  - else
    = large_image_tag(image, alt_text(@work))
  - unless image.caption.blank?
    %p=textilize_without_paragraph(image.caption)
  %br
  %br
