#filterrific_results
  .row
    .col-md-6
      %table.table
        %thead
          %tr
            %th Name
            %th
            %th
        %tbody
          - artists.each do |artist|
            %tr
              %td= link_to artist.name, edit_admin_artist_path(artist)
              %td
              %td= link_to 'Delete', [:admin, artist], method: :delete, data: { confirm: 'Are you sure?' }

  .row
    = paginate artists, :theme => 'twitter-bootstrap-3'
