- title 'About'

.row
  %h4.page-title About

.row
  .col-md-8

    %h5.subtitle Barry Hoggard and James Wagner

    %p
      Barry Hoggard and James Wagner are small-scale but zealous patrons of all the arts, with particular devotion to the visual. They have served as members of boards attached to different non-profit institutions, have curated gallery and online exhibitions, and have been invited, separately or together, to advise non-profit visual and performing arts institutions in the areas of their experiences.

    %h5 The Collection

    %p
      Hoggard and Wagner began collecting art as a couple in the mid 1990s, and some works were acquired by Wagner prior to their partnership. This web site is intended to publicize the collection and the artists within it. They have never sold a work of art from their collection and they do not intend to do so. Their hope is that this site will present it to a wider public than the relatively few people who are able to see it in a private home.

    %h5 Acknowledgments

    %p
      We would like to thank the interns who have helped us catalog our collection: Stephanie Korszen and Hannah Daly.

    %h5 Twitter

    = link_to 'HoggardWagner', 'https://twitter.com/hoggardwagner', target: '_blank'
    %br
    = link_to 'Barry', 'https://twitter.com/bhoggard', target: '_blank'
    %br
    = link_to 'James', 'https://twitter.com/wagnerblog', target: '_blank'

