- title 'Contact'

.row
  %h4.page-title Contact

.row
  .col-md-8

    Barry Hoggard and James Wagner
    %br
    255 West 23rd Street, Suite 2HE
    %br
    New York, NY 10011
    %br
    %br
    %p
      = link_to 'Contact Form', new_contact_path