- title 'Copyright'

.row
  %h4.page-title Copyright

.row
  .col-md-8

    %p Copyright &copy; 2008-#{Time.now.year} Barry Hoggard and James Wagner. Some rights reserved

    %p Copyright and other proprietary rights in material on this site may be held by individuals or entities other than or in addition to Barry Hoggard and James Wagner.

    %p If you believe that material posted on this site is infringing, please follow the procedures set forth in our #{link_to 'Digital Millennium Copyright Act Notice Policy', pages_dmca_path}, which is incorporated herein by reference.

    %p We are currently contacting artists for permission to display images of their works in our collection. If you can provide contact information for the artist or his/her estate, please #{link_to 'contact us', pages_contact_path}.
