- title 'Press'

.row
  %h4.page-title Press

.row
  .col-md-8
    %p
      = link_to 'Artspace interview', 'http://www.artspace.com/magazine/interviews_features/how_i_collect/how_i_collect_hoggard_and_wagner-51452'
      by Rachel Corbett, August 16, 2014
