- title 'Press'

.row
  %h4.page-title Press

.row
  .col-md-8
    %p
      = link_to 'Artspace interview', 'http://www.artspace.com/magazine/interviews_features/how_i_collect/how_i_collect_hoggard_and_wagner-51452'
      by Rachel Corbett, August 16, 2014
    %p
      = link_to 'Art F City interview', 'http://artfcity.com/2012/09/21/tonight-art-world-patron-saints-barry-hoggard-and-james-wagner-share-their-collection/'
      by Whitney Kimball, September 21, 2012
    %p
      = link_to 'Gangs of New York', 'http://www.brooklynrail.org/2007/7/artseen/brooklyn'
      by James Kalm, July 6, 2007

.row
  .col-md-8
    %br
    %br
    %p Video tour of exhibition at English Kills with artist Austin Thomas by James Kalm, October 16, 2012

    :plain
      <iframe width="640" height="360" src="https://www.youtube.com/embed/AnCWLrGsdHs?rel=0" frameborder="0" allowfullscreen></iframe>