#filterrific_results
  .row
    .col-md-6
      %table.table
        %thead
          %tr
            %th Title
            %th Artist
            %th
            %th
        %tbody
          - works.each do |work|
            %tr
              %td= link_to work.title, edit_admin_work_path(work)
              %td= work.artist.name
              %td
              %td= link_to 'Delete', [:admin, work], method: :delete, data: { confirm: 'Are you sure?' }

  .row
    = paginate works, :theme => 'twitter-bootstrap-3'
