.navbar-default .navbar-brand {
  color: #0829DB;
  font-size: 140%;
}

input.string, input.password {
  width: 60%;
}

.simple_form abbr {
  border-bottom: none;
  color: red;
}

img {
  @extend .img-responsive
}

h5.title {
  margin-top: 0;
  margin-bottom: 5px;
}

h4.page-title {
  margin-top: 0;
  margin-bottom: 15px;
  padding-left: 15px;
}

.work-details {
  margin-top: 15px;
}

p.why {
  padding-top: 5px;
  width: 80%;
}

a#why-small {
  color: red;
  text-decoration: none;
}

.navbar-default .navbar-brand {
  padding-left: 30px;
  font-size: 130%;
}

.no-left-padding {
  padding-left: 0;
}

.thumbnail {
  margin-bottom: 30px;
}

.thumbnail-box {
  height: 220px;
}

.thumbnail .caption {
  text-align: center;
  padding: 5px 0 8px 0;
  font-size: 90%;
}

.thumbnail-wrapper {
  height: 200px;
}

.artist-letters {
  text-align: center;
  margin: 0 0 20px 0;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
  justify-content: center; /* Optional, to align inner flex-items 
                              horizontally within the column  */
}