.navbar-default .navbar-brand {
  color: #0829DB;
  font-size: 140%;
}

input.string, input.password {
  width: 240px;
}

input#artist_birth_year,
input#artist_death_year,
input#work_work_year,
input#work_market_value_year,
input#work_acquisition_year {
  width: 80px;
}

select#artist_gender {
  width: 80px;
}

select#artist_nationality_id,
select#work_location_id,
select#work_category_id,
input#work_artist,
input#work_price_paid,
input#work_market_value {
  width: 240px;
}

input#artist_home_page {
  width: 400px;
}

textarea.text,
input#work_title,
input#work_tags {
  width: 600px;
}

textarea#work_description,
textarea#work_private_notes {
  height: 160px;
}

.simple_form abbr {
  border-bottom: none;
  color: red;
}

img {
  @extend .img-responsive
}

h5.title {
  margin-top: 0;
  margin-bottom: 5px;
}

h5.subtitle {
  margin-top: 0;
}

h4.page-title {
  margin-top: 0;
  margin-bottom: 15px;
  padding-left: 15px;
}

.work-details {
  margin-top: 15px;
  margin-bottom: 45px;
}

p.why {
  padding-top: 5px;
  width: 80%;
}

a#why-small {
  color: red;
  text-decoration: none;
}

p.no-image-permission {
  padding-top: 5px;
  color: red;
}

.navbar-default .navbar-brand {
  padding-left: 30px;
  font-size: 130%;
}

.no-left-padding {
  padding-left: 0;
}

.thumbnail {
  margin-bottom: 30px;
}

.thumbnail-box {
  height: 220px;
}

.thumbnail .caption {
  text-align: center;
  padding: 5px 0 8px 0;
  font-size: 90%;
}

.thumbnail-wrapper {
  height: 200px;
}

.artist-letters {
  text-align: center;
  margin: 0 0 20px 0;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
}

.other-works {
  font-size: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 400;
}

.contact_nickname {
  display: none;
}

.search-form {
  margin-left: 15px;
  padding: 10px;
}

.search-form label {
  margin-right: 10px;
}

.form-horizontal {
  div.boolean {
    margin-left: 320px
  }
}

.editable-click, a.editable-click, a.editable-click:hover {
  border-bottom: none;
}


