.navbar-default .navbar-brand {
  color: #0829DB;
  font-size: 140%;
}

input.string, input.password {
  width: 60%;
}

.simple_form abbr {
  border-bottom: none;
  color: red;
}


img {
  @extend .img-responsive
}

h5.title {
  margin-top: 0;
  margin-bottom: 5px;
}

.work-details {
  margin-top: 15px;
}

p.why {
  padding-top: 5px;
  width: 80%;
}

a#why-small {
  color: red;
  text-decoration: none;
}

.no-left-padding {
  padding-left: 0;
}

.thumbnail-box {
  height: 220px;
}

.caption {
  text-align: center;
}